language: ruby
cache: bundler
rvm:
  - 1.9.3
  - 2.0.0
  - 2.1.9
  - 2.2.5
  - 2.3.1
  - jruby-19mode
  - jruby-head
  - rbx-2
before_install:
  # bundler installation needed for jruby-head
  # https://github.com/travis-ci/travis-ci/issues/5861
  - gem install bundler
env:
  - JRUBY_OPTS="--debug --fast --server"
